*.[oa]
*.exe
*.cbp
*.depend
*.layout
*.sln
*.db
*.vcxproj
*.filters
*.user

bin/
obj/

.exe
.layout
.vs/

Debug/
ipch/

ReadMe.txt
stdafx.h
stdafx.cpp
targetver.h
StdAfx.h
StdAfx.cpp
*.tlog
*.recipe
*.iobj
*.ipdb
*.log
*.obj
*.pdb
